<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Localização</title>
</head>
<body style="text-align: center;">
  <p>Cadastro de Localização</p>
  <form method="post">
        
    <label for="pais">País:</label>
    <select name="pais" id="pais">
      <option value="brasil">Brasil</option>
      <option value="espanha">Espanha</option>
      <option value="franca">França</option>
      <option value="inglaterra">inglaterra</option>
      <option value="portugal">Portugal</option>
      
    </select><br>

    <label for="UF">UF:</label>
    <select name="UF" id="UF">
      <option value="mg">MG</option>
      <option value="rj">RJ</option>
      <option value="sp">SP</option>
    </select><br>

    <label for="cidade">Cidade:</label>
    <select name="cidade" id="cidade">
      <option value="jf">Juiz de Fora</option>
      <option value="rj">Rio de Janeiro</option>
      <option value="sp">São Paulo</option>
    </select><br>

    
    <table>
      <input type="submit" value="Salvar">
      <button>Cancelar</button>
    </table>
  </form>
</body>
</html>