<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Localização</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
</head>
<body>
  <table>
    <tr>
      <th>ID</th>
      <th>País</th>
      <th>UF</th>
      <th>Cidade</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Brasil</td>
      <td>MG</td>
      <td>Juiz de Fora</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Estados Unidos</td>
      <td>Califórnia</td>
      <td>Los Angeles</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Inglaterra</td>
      <td>Leste</td>
      <td>Essex</td>
    </tr>
    
  </table>
</body>
</html>