<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ManterClienteController</servlet-name>
        <servlet-class>controller.ManterClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterEmpresaController</servlet-name>
        <servlet-class>controller.ManterEmpresaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <servlet-class>controller.ManterFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPacoteController</servlet-name>
        <servlet-class>controller.ManterPacoteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPassagemController</servlet-name>
        <servlet-class>controller.ManterPassagemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaClienteController</servlet-name>
        <servlet-class>controller.PesquisaClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaEmpresaController</servlet-name>
        <servlet-class>controller.PesquisaEmpresaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <servlet-class>controller.PesquisaFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaPacoteController</servlet-name>
        <servlet-class>controller.PesquisaPacoteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaPassagemController</servlet-name>
        <servlet-class>controller.PesquisaPassagemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaRankingController</servlet-name>
        <servlet-class>controller.PesquisaRankingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterDestinoController</servlet-name>
        <servlet-class>controller.ManterDestinoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaDestinoController</servlet-name>
        <servlet-class>controller.PesquisaDestinoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>controller.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TratamentoExcecao</servlet-name>
        <servlet-class>exception.TratamentoExcecao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterClienteController</servlet-name>
        <url-pattern>/ManterClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterEmpresaController</servlet-name>
        <url-pattern>/ManterEmpresaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <url-pattern>/ManterFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPacoteController</servlet-name>
        <url-pattern>/ManterPacoteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPassagemController</servlet-name>
        <url-pattern>/ManterPassagemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaClienteController</servlet-name>
        <url-pattern>/PesquisaClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaEmpresaController</servlet-name>
        <url-pattern>/PesquisaEmpresaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <url-pattern>/PesquisaFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaPacoteController</servlet-name>
        <url-pattern>/PesquisaPacoteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaPassagemController</servlet-name>
        <url-pattern>/PesquisaPassagemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaRankingController</servlet-name>
        <url-pattern>/PesquisaRankingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterDestinoController</servlet-name>
        <url-pattern>/ManterDestinoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaDestinoController</servlet-name>
        <url-pattern>/PesquisaDestinoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/IndexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TratamentoExcecao</servlet-name>
        <url-pattern>/TratamentoExcecao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/TratamentoExcecao</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/TratamentoExcecao</location>
    </error-page>
</web-app>
