<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/login.css">
  <title>Login</title>
</head>

<body style="text-align: center;">
  <img src="assets/philipp-kammerer-6Mxb_mZ_Q8E-unsplash.jpg" alt="screen" class="screen">
  <div class="container">
  <div class="container2">
  </div>
  </div>
  
  <h1>LOGIN</h1>
  <form method="post">
    <label for="cpf" class="cpf">CPF</label>
    <input type="text" class="username" name="username" >
    <label for="senha" class="senha">SENHA</label>
    <input type="password" class="password" name="password">
    <a href="">ESQUECI A SENHA</a>
    <input type="submit" value="Enviar" class="button">
  </form>

</body>
</html>