* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
}

.header-col {
    height: 600px;
    
    
}
.header-col .header-form {
    padding: 20px;
    margin-top: 130px;
    text-align: center;
}

.header-col input[type=text] {
    background-color: transparent;
    color: #129CF3;
    font-weight: 400;
    border-radius: 0;
    border: 2px solid #129CF3;
}
.header-col h2 {
    color: #129CF3;
    padding-bottom: 12px;
}
.header-col .btn-primary { 
    width: 15%;
    background-color: transparent;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    letter-spacing: 3px;
    border: 2px solid #129CF3;
        
}
.header-col .btn-primary:hover {
    width: 15%;
    background-color: #129CF3;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    border: 2px solid #129CF3;
    
}

